.inner-dashboard-container {
    padding: 40px;
}

.table-responsive {
    overflow-x: auto;
    max-width: 100%;
}

table {
    font-size: 1rem;
    border-collapse: collapse;
}

table th, .action {
    white-space: nowrap;
}

table th, table td {
    padding: 12px;
    text-align: left;
}

table th {
    background-color: var(--secondary-color); /* Light background for headers */
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternating row colors */
}

/* Row Hover Effect */
table tbody tr:hover {
    background-color: #e9ecef; /* Subtle hover effect */
    cursor: pointer;
}

/* Styling for table borders */
table, th, td {
    border: 1px solid #ddd;
}

table td, table th {
    font-size: 0.8rem;
}
